body {
	background-color: #f8f8f8;
	font-family: sans-serif;
}

footer {
	border-top: 1px solid #9a9a9a;
	padding: 10px;
	text-align: center;
}

span {
	padding: 12px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

header {
	border-bottom: 1px solid #9a9a9a;

}

aside {
	margin: 30px 0px;
}

form {
	text-align: center;
}

.content .products__logo {
	text-align: center;
}

.content .products {
	padding: 20px 20px 20px 0;
	width: 100%;
	text-align: center;

}

.content .logo {
	text-align: center;
}

.content .logo-text {
	text-align: center;
}


.content .products__item {
	margin: 0 20px;
	font-size: 16px;
	display: inline-block;

}

.content .logo-text {
	line-height: 2em;
    font-size: 14px;
}

.footer .copyright {
	    font-family: sans-serif;
    line-height: 2em;
    font-size: 13px;
}

.header ul {
	padding: 0px;
}

.header .menu__item-link {
	text-decoration: none;
}

.menu {
	list-style-type: none;
	font-size: 15px;
	text-align: center;
}

.menu li {
	display: inline-block;
	text-decoration: none;
}

.menu a:hover {
	background-color: #BAC9FF;
}
.menu a:visited {
	text-decoration: none;
    color: #0066cc;
}
.menu a:link {
	color: #9a9a9a;
}
.menu a:active {
	color: black;
}

.product_miniT {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.product_Text {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.product_sis {
	list-style-image: url(Products/pic/yellow_air-conditioner_icon-icons.png); 
}

.mainPic {
	border: 2px solid #001478;
}

input {
	font-size: 12px;
	color: #030266;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-size: 18px
	font-weight: 400;
	background: #eaeaea;
}