body {
	background-color: #f8f8f8;
}

.menu {
	list-style-type: none;
	font-size: 30px;
	text-align: center;
}
.menu a:hover {
	background-color: #BAC9FF;
}
.menu a:visited {
	color: #0D7475;
}
.menu a:link {
	color: #01048F;
}
.menu a:active {
	color: black;
}

.product_miniT {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.product_Text {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.product_sis {
	list-style-image: url(Products/pic/yellow_air-conditioner_icon-icons.png); 
}

.mainPic {
	border: 2px solid #010233;
}

input {
	font-size: 12px;
	color: #030266;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-size: 18px
	font-weight: 400;
	background: #eaeaea;
}