/*.conteiner {
	display: flex;
}*/

.contentCol {
	width: 535px;
	border: 2px solid #618ad2;
	border-radius: 5px;
	margin-left: 20px;
	box-sizing: border-box;
	display: inline-block; /*delite if flex*/
	vertical-align: top; /*delite if flex*/
	/*overflow-y: scroll;
	height: 800px;*/
}

.content__main {
	list-style-type: none;
	padding: 0px;
}

.content__main-item {
	border: 2px solid #cccccc;
	border-radius: 5px;
	box-shadow: 1px;
	margin: 10px; 
	padding: 10px;
	line-height: 30px;
	text-align: center;
}
.content__main-date {
	list-style-type: none; 
}
.content__main-item-list {
	text-align: left;
}

.content__main-date li {
	text-align: left;
}

.mainWork {
	color: #D55906;
}

.mainWork:hover {
	color: #7BB74A;
}

a {
	text-decoration: none;
	color: #0066cc;
}

a:hover {
	color: #22AABA;
}
h1 {
	font-size: 20px;
	color: #D55906;
	text-align: center;
}
.legenda {
	width: 535px;
	border: 2px solid #618ad2;
	border-radius: 5px;
	margin: 10px 10px 10px 0px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	margin: 20px auto;
}

.orange {
	color: #D55906;
}
.blue {
	color: #0066cc;
}
.hardcore__style {
	font-size: 13px;
	list-style-type: circle; 
}